@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.faqs-accordion {
    @apply px-4 py-6;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    text-align: left;
    align-items: baseline;
    border: none;
    outline: none;
    transition: 0.4s;
}

.faqs-accordion.span {
    width: 50%;
}

.active-accordion,
.faqs-accordion:after {
    content: "\25ba"; /*"plus" sign (+) */
    float: right;
    margin-left: 5px;
}

.faqs-accordion.active:after {
    content: "\25bc"; /*"minus" sign (-) */
}

.faqs-panel {
    @apply px-4 py-6;
    display: none;
    overflow: hidden;
}

.faqs-panel a {
    text-decoration: none;
    color: #038ce4;
}
